
.orange{
  background-color: #f5e4bf;
}
  

  .home {
  height: 70%;
  width: 35%; 
 
  background-image: url(../fondo2.png) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
}

.body {
  background-image: url(../imgpng/fondo.png); 
  
}

.infor {
  background-image: url(../imgpng/fondo.png) ; 
  
}

.imgprueba {
width: 100%;
height: 100%;

  background-image: url(../imgpng/fondo.png) no-repeat center center fixed; 
  
}

.loss {
  
  background-image: url(../imgpng/fondo_loss.png) ; 
  
}

.celeste{
  background-color: #bbd1cc;
}


.contenedor{
  background-color: #FFFCFC;
}

.verde{
  background-color: #73a51d;
  color:#FFFFFF;
}
.inf{
  background-color: #0886f8;
   color: white;
}


.gris{
  background-color: #49565b;
  color: white;
}

.marron{
  background-color: #efcb97;
  color: #6c5948;
}

.faltante{

  color: #493a2d;
  font-size: 2.3em;
  font-weight: bold;
}

.cafe{
  background-color: #8b641d;
  color: white;
}
.tiempo{
  
  color: #f9eded;
  font-size: 3.3em;
  font-weight: bold;
}

.blank{

  color: white;
  
}

.nuevo{
 background-color: #eea215; 
  color: white;
  
}

.amarillo{
 background-color: #e9c41b; 
  color: white;
  
}

.alerta{

  color: #ff1f00;
  font-size: 2.3em;
  font-weight: bold;
}


.naranja{
  background-color: #fca00c;
  color: white;
  font-weight: bold;
}

.imagen_center{
margin-left: auto;
    margin-right: auto;
    display: block;
}

.blue{
  background-color: #070f61;
}
.blue, body{
  background-image: url(../imgpng/bggame.png);
  background-color: #070f61;
}
.celeste{
  background-color: #7bcefa;
  color: white;
}
#imagen{
  max-height: 45vh;  
}
.btn { 
  padding: 0.25em 0.75em;
  color:;
}
.btn:disabled {
    background: #BBB;
}
.contador{
 
  background-color: #3b6a97;
  border-radius: 0px;
  padding: 0.6em;
  font-size: 1.3em;
  font-weight:bold;
  color: #FFFFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

@media (max-width: 768px) {
#imagen{
  max-height: 35vh;  
}  
.btn { 
  margin: 1%;
 width: 12%;
 padding: 0.5em;
  border-radius: 50%;
}
.contador{
  position:static;
  font-size: 0.9em;
  color: blue;
  padding:10px;
}
}